<h1>Contact</h1>
<p>Contact me at emretan(at)seas(dot)upenn(dot)edu, or check out some of my work on <a href="http://www.github.com/emretanirgan">Github</a> or <a href="http://www.behance.com/emretanirgan">Behance</a></p>