
  <!-- Le styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 700px;
    }
    .container-narrow > hr {
      margin: 30px 0;
    }

    /* Main marketing message and sign up button */
    .jumbotron {
      margin: 60px 0;
      text-align: center;
    }
    .jumbotron h1 {
      font-size: 72px;
      line-height: 1;
    }
    .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px;
    }

    /* Supporting marketing content */
    .marketing {
      margin: 60px 0;
    }
    .marketing p + h4 {
      margin-top: 28px;
    }
  </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                 <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>

  <div class="container-narrow">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <!--<h3 class="muted">Project name</h3>-->
    </div>

    <hr>

    <div class="jumbotron">
      <h1>Welcome to your journal of awesomeness.</h1>
      <p class="lead">We know that you are awesome, or why else would
      	you be here? This is where you can write the awesome things
      	you do every day, save them, and look at back at them whenever
      	you need some motivation.</p>
      <a class="btn btn-large btn-success" href="#">Sign up for your journal now!</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
      <div class="span6">
        <h4>A Collection of Awesomeness</h4>
        <p>Write down 3 awesome things you did every day. It will not only help
        	you reflect on your day, it will also be a huge motivation boost when
        	you write these down.</p>
      </div>
      <div class="span6">
        <h4>E-mail Reminders</h4>
        <p>If you want, we will send you an email every week via SendGrid summing up some of 
        	the awesome things you have done in the past week. Set which day you want it on, and start Mondays with some extra motivation.</p>

      </div>
    </div>

    <hr>

    <div class="footer">
      <p>© Emre Tanirgan 2013</p>
    </div>

  </div> <!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/bootstrap-transition.js"></script>
  <script src="../assets/js/bootstrap-alert.js"></script>
  <script src="../assets/js/bootstrap-modal.js"></script>
  <script src="../assets/js/bootstrap-dropdown.js"></script>
  <script src="../assets/js/bootstrap-scrollspy.js"></script>
  <script src="../assets/js/bootstrap-tab.js"></script>
  <script src="../assets/js/bootstrap-tooltip.js"></script>
  <script src="../assets/js/bootstrap-popover.js"></script>
  <script src="../assets/js/bootstrap-button.js"></script>
  <script src="../assets/js/bootstrap-collapse.js"></script>
  <script src="../assets/js/bootstrap-carousel.js"></script>
  <script src="../assets/js/bootstrap-typeahead.js"></script>



</body>